

.card-face {
    position: absolute;
    line-height: 260px;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card-flipped {
    transition: transform 1s;
    transform-style: preserve-3d;  
    transform: rotateY(180deg);
  }
  .card-front{
    height:300px;
    z-index: 100;
}
